<% include components/header.ejs %>

<section class="main-body">
  <div class="container-flow">
    <div class="row">
      <div class="col-md-10">
        <div class="main">
1
        </div>
      </div>
      <div class="col-md-2">
        <div class="side">
          <section class="adds">

          </section>
          <section class="links">
            <div class="formLinks">
              <a href="/submit" class="submitLink">Submit a new text post</a>
            </div>
          </section>
          <section class="adds">
              
          </section>
        </div>
      </div>
    </div>
  </div>
</section>


<% include components/footer.ejs %>