
.container-flow {
  width: 98%;
  margin-top: 10px;
  margin-left: 10px;  
}

/* NAVBAR */
nav {
  height: 35px;
}

.nav-right {
  display: flex;
  flex-direction: row;
  position: fixed;
  right: 0;
}

.right {
  margin-right: 10px;
}

.username {
  color: black!important;
}

/* MAIN BODY */
.main {
  border: 1px solid #dcdbdb;
  padding: 5px;
  min-height: 93vh!important;
}

